<!-- home.component.html -->
<div class="home-container">
    <header>
        <h1>Gestion des Criminels</h1>
        <p>Bienvenue sur la plateforme de gestion des criminels. Utilisez les outils ci-dessous pour naviguer et gérer les données des criminels, victimes, et plus encore.</p>
    </header>

    <section class="dashboard">
        <div class="card">
            <h2>Statistiques</h2>
            <div id="chartContainer"></div>
        </div>
        <div class="card">
            <h2>Liste des Criminels</h2>
            <table>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Nombre de Victimes</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let killer of killers">
                    <td>{{ killer.lastname }}</td>
                    <td>{{ killer.firstname }}</td>
                    <td>{{ killer.victimsCount }}</td>
                    <td>
                        <button pButton pRipple label="Voir" icon="pi pi-eye" class="p-button-info" (click)="viewKiller(killer.id)"></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="actions">
        <button pButton pRipple label="Ajouter un Criminel" icon="pi pi-plus" class="p-button-success" (click)="addKiller()"></button>
        <button pButton pRipple label="Voir le Graph" icon="pi pi-chart-line" class="p-button-warning" (click)="viewGraph()"></button>
    </section>
</div>
