<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <h5 class="m-0">LISTE DES PAYS</h5>
            </p-toolbar>

            <p-table #dt [value]="countriesList" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','label', 'capital', 'continent','area','uri']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">

                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Recherche..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="label">Label <p-sortIcon field="label"></p-sortIcon></th>
                        <th pSortableColumn="capital">Capital <p-sortIcon field="capital"></p-sortIcon></th>
                        <th pSortableColumn="area">Superficie <p-sortIcon field="area"></p-sortIcon></th>
                        <th pSortableColumn="continent">Continent <p-sortIcon field="continent"></p-sortIcon></th>
                        <th pSortableColumn="uri">URI <p-sortIcon field="uri"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-country>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">ID</span>
                            {{country.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Label</span>
                            {{country.label}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Capital</span>
                            {{ country.capital }}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Superficie</span>
                            {{ country.area | number }} km²
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Continent</span>
                            {{country.continent}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">URI</span>
                            {{country.uri}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-share-alt" class="p-button-rounded p-button-primary" (click)="showNodeGhaph(country)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
